extends /layouts/main.pug

block meta
  +meta(title="Кнопко", description="У кнопки тоже есть чувства", og-image="/images/IMG_0202.jpg")

block content
  .top__space
  .ids__wrapper
    .intro-text
      #output
    .ids__stack.S
    .button#switch Призыв к действию
    
    .ids__stack.M
    .explanation
      p Каждый день мы жмем много кнопок, но не все они приносят пользу. Какие-то разочаровывают, какие-то приводят нас в бешенство.
      p Мы хотим это исправить. Серьезно. Вы когда-нибудь задумывались о чувстве кнопок. Вот тотоже 
      p Нажав на эту кнопку вы поможите друугим кнопкам почувствовать себя нужными и полезными. А там глядишь и в мире всё наладиться.
      

        



        
