extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content

  .ids__wrapper
    .ids__text
      section
        .ids__stack.M

        img(src="/images/poster.jpg", alt="")

        h1 Сайт про истории кнопок 123

        p Вот тут у нас будет первая страница
        
        h2
          a(href='/page-2') Далее
      

        
