extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .ids__wrapper
    .ids__text
      section

        .ids__stack.M
        h1 Что-то про камеру
        p У меня есть оригинальный каталог Кодака начала 20 века. Могу отсканировать (сорри, не перевернуто)

        h2
          a(href='/page-3') Далее

        
