extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content

  .ids__wrapper
    .ids__text
      section
        .ids__stack.M

        img(src="/images/flash.png", alt="")

        h1 История фонарика
        p Вот тут у нас будет первая страница
        


        h2
          a(href='/page-2') Learn more
      

        
