extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .ids__wrapper
    .ids__text
      section

        .ids__stack.M

        h1 тут у нас тряться страница
        h2 А всё, конец

        
